<footer id="footer">
  <div class="container">
    <div class="row agent-hide">
      <ul id="footer-col1" class="col-sm-3">
        <li>
          <a atm="home:footer:Activate Your Fido" href="http://www.fido.ca/web/page/portal/Fido/activation_land">Activate Your Fido</a>
        </li>
        <li>
          <a atm="home:footer:About Us" href="http://www.fido.ca/web/content/aboutus">About Us</a>
        </li>
        <li>
          <a atm="home:footer:Store Locator" href="http://www.fido.ca/web/page/portal/Fido/StoreLocator">Store Locator</a>
        </li>
        <li>
          <a atm="home:footer:Careers" href="http://www.fido.ca/web/content/careers">Careers</a>
        </li>
      </ul>
      <ul id="footer-col2" class="col-sm-3">
        <li>
          <a atm="home:footer:Terms &amp; Conditions" href="http://www.fido.ca/web/content/terms">Terms and Conditions</a>
        </li>
        <li>
          <a atm="home:footer:Privacy Policy" href="http://www.fido.ca/web/content/terms/privacy_policy">Privacy Policy</a>
        </li>
        <li>
          <a atm="home:footer:Contact Us" href="https://www.fido.ca/web/page/portal/Fido/GCT_ContactUs">Contact Us</a>
        </li>
        <li>
          <a atm="home:footer:Community Forums" href="http://forums.fido.ca/t5/community/categorypage/category-id/EnglishCommunity">Community Forums</a>
        </li>
      </ul>
      <ul id="footer-col3" class="col-sm-3">
        <li>
          <a atm="home:footer:Accessibility Services" href="https://www.fido.ca/web/content/accessibility/relay_services">Accessibility Services</a>
        </li>
        <li>
          <a atm="home:footer:CRTC Wireless Code" href="http://www.crtc.gc.ca/eng/info_sht/t15.htm">CRTC Wireless Code</a>
        </li>
        <li>
          <a atm="home:footer:Site Map" href="http://www.fido.ca/web/content/sitemap">Site Map</a>
        </li>
      </ul>
      <div class="social-media">
        <span>Follow us:</span>
        <ul>
          <li><a href="https://www.facebook.com/fidomobile?sk=app_128953167177144" title="Facebook" class="facebook"><i class="ute-icon-facebook"></i></a></li>
          <li><a href="https://twitter.com/Fidomobile" title="Twitter" class="twitter"><i class="ute-icon-twitter"></i></a></li>
          <li><a href="https://plus.google.com/+fido/posts" title="Google Plus" class="google"><i class="ute-icon-googleplus"></i></a></li>
          <li><a href="https://www.youtube.com/user/fidomobile" title="YouTube" class="youtube"><i class="ute-icon-youtube"></i></a></li>
          <li><a href="https://instagram.com/fidomobile" title="Instagram" class="instagram"><i class="ute-icon-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row ute-nav-agent">
      <p><a ng-href="{{ ruiMethods.agent.homeURL() }}"><ins translate="agent-feedback"></ins></a></p>
    </div>
  </div>
</footer>
<footer id="footer-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p id="copyright">&#169; 1996 - 2015 Fido Solutions</p>
      </div>
    </div>
  </div>
</footer>

